* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
}

#risultato {
  height: 100px;
  width: 100px;
}
